/* App */
#root {
  background-color: #f6f5f3;
  font-family: "Sora", sans-serif;
}

.page {
  max-width: 95vw;
  height: calc(100% - 112px);
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: auto;
  justify-content: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.preview-row {
  display: flex;
  overflow: auto;
  min-width: 95%;
  max-width: 100%;
  /* border: 2px solid green; */
  margin: auto;
}
.logo {
  height: auto;
  float: left;
  padding-left: 2%;
  margin: 0 auto;
  padding: 10px 0;
}
.logo img {
  width: 75px;

  object-fit: cover;
}

/* Login page */
.loginPage {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
#logout {
  float: right;
}
.loginForms {
  height: 100%;
  width: 90%;
  /* max-width: 80%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#loginLabel,
#signupLabel {
  font-size: xx-large;
}
.loginForm,
.signupForm {
  background-color: #ddd5de;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;
}
.form-control-lg {
  margin-top: 2rem;
}
.submitBtn {
  margin-top: 2rem;
  background-color: #759501;
  width: 100%;
}

#invalidLogin {
  color: rgb(152, 19, 19);
  font-weight: bold;
  display: block;
}
#usernameTaken {
  color: rgb(152, 19, 19);
  font-weight: bold;
}
#usernameAvailable {
  color: rgb(51, 106, 65);
  font-weight: bold;
}
.container {
  max-height: 90vh;
  max-width: 90%;
}
/* .row {
  max-height: 90vh;
} */

/* Listing */
/* .listing-div {
  max-width: 100%;
  overflow-y: auto;
  border: 2px solid blue;
} */
.rating:hover i {
  color: #fc0;
  text-shadow: #fc0 0 0 10px;
}
.rating i,
.rating i:hover ~ i {
  color: #222;
  text-shadow: none;
  transition: color 200ms, text-shadow 200ms;
  /* This will remove the delay when
     moving the cursor left or right
     within the set of stars. */
  transition-delay: 0;
  cursor: pointer;
}
.card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: auto;
}
.preview {
  cursor: pointer;
}

/* Your Listings page */
.validation {
  /* color: rgb(78, 17, 17); */
}
/* .container {
  height: calc(100vh-70);
} */
.create-listing-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.empty {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  min-width: 95%;
  max-width: 100%;
  /* border: 2px solid green; */
  margin-top: 4rem;
  margin-bottom: auto;
}
