/* App */
#root {
  /* background-color: #f6f5f3; */
  font-family: "Sora", sans-serif;
}
h1 {
  margin-top: 2rem;
  color: #005025;
  text-align: center;
}
.page {
  max-width: 95vw;
  height: calc(100% - 112px);
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  overflow: auto;
  margin: auto;
  justify-items: center;
}
header {
  position: sticky;
  top: 0;
  z-index: 100;
}
.create-listing-btn {
  margin-top: 2rem;
  background-color: #7c677f;
  border: none;
  margin-right: auto;
}
.post-listing-btn {
  background-color: #7c677f;
  border: none;
}
.create-listing-btn:hover,
.post-listing-btn:hover {
  background-color: #8076a3;
}
.preview-row {
  display: flex;
  overflow: auto;
  min-width: 95%;
  max-width: 100%;
  margin: auto;
  /* border: 2px solid green; */
}
.col {
  display: flex;
  justify-content: center;
}
#logo {
  height: 56px;
}
.top-nav {
  padding-bottom: 0;
}
.bottom-nav {
  padding-top: 0;
  background-color: transparent;
  background: transparent;
  backdrop-filter: blur(10px);
  box-shadow: 0 3px 3px 0px rgba(0, 0, 0, 0.2);
}
.navbar-collapse {
  display: flex;
  justify-content: center;
}
.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.nav-link {
  border-radius: 25px;
  width: 15%;
  text-align: center;
}
.nav-link:hover,
.active {
  background-color: #f9c5bd;
  border-radius: 25px;
  transition: 0.6s;
}
.greeting {
  padding-right: 2rem;
  color: #051e2d;
}
#greeting-user {
  font-weight: bold;
  color: rgb(51, 106, 65);
}
#logout {
  border-radius: 25px;
  border-color: transparent;
  background-color: #ffffff;
  float: right;
  height: 56px;
  transition: 0.6s;
}
#logout:hover {
  background-color: #005025;
  color: #ffffff;
  transition: 0.3s;
}
.preview-row .card {
  border: transparent;
  border-radius: 10px;
  width: 90%;
  transition: 0.3s;
}
.preview-row .card:hover,
.preview-row .card img:hover {
  border-radius: 35px;
  transition: 0.6s;
}
.preview-row .card img {
  border: 3px solid #759501;
  border-radius: 10px;
  transition: 0.6s;
}
.preview-row .card img:hover {
  border-radius: 35px;
  transition: 0.6s;
}
.preview-row .card-footer {
  background-color: transparent;
  border: none;
}

.listing-row {
  margin-top: 2rem;
}
.card .card-header {
  height: 3rem;
  display: flex;
  align-items: center;
  background-color: #7c677f;
  border-radius: 0;
  color: white;
}
.claims-card .card-header {
  justify-content: center;
}
.card .card-footer {
  background-color: transparent;
  border: none;
  border-radius: 0;
}
/* .claims-card .card-header {
  border-left: 1px solid white;
}
.listing-card .card-header {
  border-right: 1px solid white;
} */
.listing-card,
.claims-card {
  width: 90%;
  border-color: #7c677f;
  border-radius: 0;
}
.listing-card {
  margin-left: auto;
}
.claims-card {
  margin-right: auto;
}

.listing-col,
.claims-col {
  padding: 0;
}

.listing-col .card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.listing-row .card-img {
  aspect-ratio: 1/1;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.listing-info-bottom {
  padding-bottom: 2rem;
}
.goback,
.edit,
.delete {
  padding-top: 0;
  padding-bottom: 0;
  cursor: pointer;
  font-size: 20px;
}
.goback:hover,
.edit:hover,
.delete:hover {
  font-size: 25px;
  transition: 0.3s;
}
.goback {
  margin-left: 0;
}
.delete {
  margin-left: 1rem;
}
.edit-delete-div {
  margin-left: auto;
}
.delete-btn {
  background-color: #759501;
  width: 100%;
  border: none;
}
.delete-btn:hover {
  background-color: #005025;
}
.card-title {
  text-align: center;
}
.card-text {
  text-align: center;
  padding-top: 2rem;
}

.user-rating {
  padding-left: 0;
}
.owner-rating,
.user-rating {
  color: black;
}

.owner-rating .fa-star,
.user-rating .fa-star {
  color: #fc0;
}
.claim-info {
  display: flex;
  /* align-items: center; */
  justify-content: center;
}
#claims .selected {
  border: 2px solid #005025;
  background-color: rgba(185, 221, 52, 0.546);
}
.add-claim-addon {
  padding: 0;
  border: none;
}
.add-claim-btn {
  background-color: #759501;
  width: 100%;
  height: 100%;
  border: none;
}
.select-claim-btn,
.select-claim-btn:hover {
  background-color: #759501;
  height: 100%;
  border: none;
}

/* Login page */
.loginPage {
  height: 100%;
  display: flex;
  justify-content: space-around;
  background-image: url("https://github.com/khamerling-potts/lendz/blob/main/client/lendzhand.png?raw=true");
  background-size: 400px;
  background-repeat: repeat;
  background-position-y: calc(-64px);
  background-position-x: calc(-32px);
}

.loginForms {
  height: 100%;
  width: 90%;
  /* max-width: 80%; */
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#loginLabel,
#signupLabel {
  font-size: xx-large;
}
.loginForm,
.signupForm {
  background-color: #ddd5def8;
  padding: 2rem;
  margin: 2rem;
  border-radius: 25px;
}
.form-control-lg {
  margin-top: 2rem;
}
.submit-btn {
  margin-top: 2rem;
  background-color: #759501;
  width: 100%;
  border: none;
}

.submit-btn:hover {
  background-color: #005025;
}
#invalidLogin {
  color: rgb(152, 19, 19);
  font-weight: bold;
  display: block;
}
#usernameTaken {
  color: rgb(152, 19, 19);
  font-weight: bold;
}
#usernameAvailable {
  color: rgb(51, 106, 65);
  font-weight: bold;
}
.container {
  max-height: 90vh;
  max-width: 90%;
}
/* .row {
  max-height: 90vh;
} */

/* Listing */

.rating:hover i {
  color: #fc0;
  text-shadow: #fc0 0 0 10px;
}
.rating i,
.rating i:hover ~ i {
  color: #222;
  text-shadow: none;
  transition: color 200ms, text-shadow 200ms;
  transition-delay: 0;
  cursor: pointer;
}
.card-img {
  aspect-ratio: 1/1;
  object-fit: cover;
  width: auto;
}
.preview {
  cursor: pointer;
}

/* Your Listings page */
.validation {
  /* color: rgb(78, 17, 17); */
}
/* .container {
  height: calc(100vh-70);
} */
.create-listing-container {
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
}
.empty {
  display: flex;
  justify-content: center;
  font-size: xx-large;
  min-width: 95%;
  max-width: 100%;
  /* border: 2px solid green; */
  margin-top: 4rem;
  margin-bottom: auto;
}
