/* App */
#root {
  background-color: #f6f5f3;
}

/* */
#logout {
  float: right;
}

#invalidLogin {
  color: red;
  display: block;
}
.container {
  max-height: 90vh;
  max-width: 90%;
}
.row {
  max-height: 90vh;
}

/* Listing */
.rating:hover i {
  color: #fc0;
  text-shadow: #fc0 0 0 10px;
}
.rating i,
.rating i:hover ~ i {
  color: #222;
  text-shadow: none;
  transition: color 200ms, text-shadow 200ms;
  /* This will remove the delay when
     moving the cursor left or right
     within the set of stars. */
  transition-delay: 0;
  cursor: pointer;
}
.card-img {
  object-fit: cover;
  width: auto;
}

/* Your Listings page */
.validation {
  color: red;
}
.createListingForm {
}
